# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.venv11/

# IDE
.vscode/
.idea/
*.swp

# Secret files
.env
config.yaml
assistant_memory.json
*.pth
*.key

# Logs & History
*.log
experience_logs/
logs/

# Build
build/
dist/
*.spec

# Media
*.mp3
*.wav
*.png
*.jpg
Images/

# Data
data/
model/
jarvis_chroma/

# OS
.DS_Store
Thumbs.db
