schedule
APScheduler
pynput
python-telegram-bot
duckduckgo-search
edge_tts
playsound==1.2.2
ollama
wikipedia~=1.4.0
PyAutoGUI~=0.9.54
pyjokes==0.6.0
pyaudio
setuptools
opencv-python
mediapipe
pytesseract
psutil
matplotlib
selenium
chromadb
spotipy
google-api-python-client
gradio
transformers
requests
pyyaml